

    <!-- Carousel wrapper -->
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-carousel-init>
      <!-- Indicators -->
      <div class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
      </div>
  
      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center" data-mdb-theme="dark">
                <h1 class="mb-3">Welcome to ....</h1>
                <h5 class="mb-4">Best Guidence</h5>
                <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init [routerLink]="['/login']"
                   role="button" rel="nofollow">Login</a>
                <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init [routerLink]="['/signup']"
                    role="button">Signup</a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>You can place here any content</h2>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask" style="
                                   background: linear-gradient(
                                   45deg,
                                   rgba(29, 236, 197, 0.7),
                                   rgba(91, 14, 214, 0.7) 100%
                                   );
                                   ">
            <div class="d-flex justify-content-center align-items-center h-100" data-mdb-theme="dark">
              <div class="text-white text-center">
                <h2><a [routerLink]="['/login']">Login</a></h2>
                <a class="btn btn-outline-light btn-lg m-2" data-mdb-ripple-init
                [routerLink]="['/signup']" target="_blank" role="button">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->
  
      <!-- Controls -->
      <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Carousel wrapper -->
